[submodule "themes/hugo-sustain"]
	path = themes/hugo-sustain
	url = https://github.com/nurlansu/hugo-sustain.git
[submodule "themes/hugo-winston-theme"]
	path = themes/hugo-winston-theme
	url = https://github.com/zerostaticthemes/hugo-winston-theme.git
